<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{site.description}}">
        <meta name="author" content="{{site.author}}">       
        <title>{{ site.name}} {% if page.title %} &mdash; {{ page.title }} {% endif %}</title>
        
        <!-- Loop and attach page tags from page meta section -->
        {% if page.tags %}
        <meta name="keywords" content="{{ page.tags }}">
        {% else %}
        <meta name="keywords" content="{{site.keywords}}">
        {% endif %}

        <link rel="icon" type="image/png" href="{{ "/favicon.ico" | prepend: site.url }}">
       

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.url }}" >

        <!-- Custom CSS -->
        <link rel="stylesheet"  href="{{ "/css/portfolio.css" | prepend: site.url }}">
       

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body>

